@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1>Welcome to ASP.NET Dashboard Landing Page</h1>
    <p>This is ASP.NET MVC Demo</p>

    <hr/>
<ul>
    <li>Asp.NET is easy to learning</li>
    <li>Build is in progress</li>
</ul>
<a asp-controller="Home" asp-action="Privacy" class="btn btn-primary">
    Privacy Policy
</a>
</div>

    
